table {
  border-collapse: collapse;
}
body {
  margin: 0px;
  padding: 0px;
}
.cell {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  margin: 0px;
  border: none;
  padding: 0px;
  z-index: -1;
}

.middle {
  background-image: url('images/board/cross.png');
}

.top {
  background-image: url('images/board/topborder.png');
}

.bottom {
  background-image: url('images/board/bottomborder.png');
}

.left {
  background-image: url('images/board/leftborder.png');
}

.right {
  background-image: url('images/board/rightborder.png');
}

.topleft {
  background-image: url('images/board/topleft.png');
}

.topright {
  background-image: url('images/board/topright.png');
}

.bottomleft {
  background-image: url('images/board/bottomleft.png');
}

.bottomright {
  background-image: url('images/board/bottomright.png');
}

.center {
  background-image: url('images/board/center.png')
}

.rtopright {
  background-image: url('images/board/rtopright.png');
}

.rtopleft {
  background-image: url('images/board/rtopleft.png');
}

.rbottomleft {
  background-image: url('images/board/rbottomleft.png');
}

.rbottomright {
  background-image: url('images/board/rbottomright.png');
}

.btopleft {
  background-image: url('images/board/btopleft.png');
}

.btopright {
  background-image: url('images/board/btopright.png');
}

.bbottomleft {
  background-image: url('images/board/bbottomleft.png');
}

.bbottomright {
  background-image: url('images/board/bbottomright.png');
}

.piece {
  max-width: 85%;
  max-height: 85%;
  position: relative;
  align-content: center;
  left: 7%;
  z-index: 1;
}

.test {
  border: 1pt solid black;
}

/*====================================================
  Animations (I used some of the grader's code here)
====================================================*/

.testing
{
    -webkit-animation: testing .5s linear forwards;
    animation: testing 0.5s linear forwards;
}



.move_up {
    -webkit-animation: move_up 0.4s linear fowards;
    animation: move_up 0.4s linear forwards;
}

.move_down {
    -webkit-animation: move_down 0.4s linear fowards;
    animation: move_down 0.4s linear forwards;
}

.move_left {
    -webkit-animation: move_left 0.4s linear fowards;
    animation: move_left 0.4s linear forwards;
}

.move_right {
    -webkit-animation: move_right 0.4s linear fowards;
    animation: move_right 0.4s linear forwards;
}

.move_up_left {
    -webkit-animation: move_up_left 0.4s linear fowards;
    animation: move_up_left 0.4s linear forwards;
}

.move_up_right {
    -webkit-animation: move_up_right 0.4s linear fowards;
    animation: move_up_right 0.4s linear forwards;
}

.move_down_left {
    -webkit-animation: move_down_left 0.4s linear fowards;
    animation: move_down_left 0.4s linear forwards;
}

.move_down_right {
    -webkit-animation: move_down_right 0.4s linear fowards;
    animation: move_down_right 0.4s linear forwards;
}





@-webkit-keyframes testing {
    0% {
        top: -100%;
        left: 0;
    }
    50%{
        max-width: 140%;
        top: -50%;
        left: 0%;
    }
    100%{
        max-width: 85%;
        top: 0;
        left: 0;
    }
}

@keyframes testing {
    0% {
        top: -100%;
        left:0;
    }
    50%{
        max-width: 140%;
        top: -50%;
        left: 0;
    }
    100%{
        max-width: 85%;
        top: 0;
        left: 0;
    }
}



@-webkit-keyframes move_up {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: -50%;
    left: 0%
  }
  100% {
    max-width: 85%;
    top: -100%;
    left: 0%
  }
}

@keyframes move_up {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: -50%;
    left: 0%
  }
  100% {
    max-width: 85%;
    top: -100%;
    left: 0%
  }
}



@-webkit-keyframes move_down {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: 50%;
    left: 0%
  }
  100% {
    max-width: 85%;
    top: 100%;
    left: 0%
  }
}

@keyframes move_down {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: 50%;
    left: 0%
  }
  100% {
    max-width: 85%;
    top: 100%;
    left: 0%
  }
}



@-webkit-keyframes move_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: 0%;
    left: -50%
  }
  100% {
    max-width: 85%;
    top: 0%;
    left: -100%
  }
}

@keyframes move_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: 0%;
    left: -50%
  }
  100% {
    max-width: 85%;
    top: 0%;
    left: -100%
  }
}



@-webkit-keyframes move_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: 0%;
    left: 50%
  }
  100% {
    max-width: 85%;
    top: 0%;
    left: 100%
  }
}

@keyframes move_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: 0%;
    left: 50%
  }
  100% {
    max-width: 85%;
    top: 0%;
    left: 100%
  }
}



@-webkit-keyframes move_up_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: -50%;
    left: -50%
  }
  100% {
    max-width: 85%;
    top: -100%;
    left: -100%
  }
}

@keyframes move_up_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: -50%;
    left: -50%
  }
  100% {
    max-width: 85%;
    top: -100%;
    left: -100%
  }
}



@-webkit-keyframes move_up_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: -50%;
    left: 50%
  }
  100% {
    max-width: 85%;
    top: -100%;
    left: 100%
  }
}

@keyframes move_up_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: -50%;
    left: 50%
  }
  100% {
    max-width: 85%;
    top: -100%;
    left: 100%
  }
}



@-webkit-keyframes move_down_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: 50%;
    left: -50%
  }
  100% {
    max-width: 85%;
    top: 100%;
    left: -100%
  }
}

@keyframes move_down_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: 50%;
    left: -50%
  }
  100% {
    max-width: 85%;
    top: 100%;
    left: -100%
  }
}



@-webkit-keyframes move_down_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: 50%;
    left: 50%
  }
  100% {
    max-width: 85%;
    top: 100%;
    left: 100%
  }
}

@keyframes move_down_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    max-width: 140%;
    top: 50%;
    left: 50%
  }
  100% {
    max-width: 85%;
    top: 100%;
    left: 100%
  }
}
